<html lang="ja">
  <head>
    <title>Eleventyサンプル</title>
  </head>
  <body>
    <header>
      <h1>Eleventyサンプル</h1>
    </header>
    <article>
      {{ content }}
    </article>
    <footer>
      <p>&copy; sano</p>
    </footer>
  </body>
</html>
